@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  background-color: hsl(204, 43%, 93%);
  font-size: 16px;
}

.container {
  max-width: 55vw;
  min-height: 50vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0 15px 17px;
  border-radius: 5px;
  background-color: hsla(0, 0, 0, 0);
  margin: 10vh auto;
  display: grid;
  grid-template-areas: 
    "mn mn mn mn"
    "pc pc bf bf"
    ;
   grid-template-columns: repeat(2, 1fr 1fr);
}

.main{
  background-color: #fff;
  grid-area: mn;
  padding: 30px;
  border-radius: 5px 5px;
}
.price{
  background-color: hsl(179, 62%, 43%);
  grid-area: pc;
  padding: 30px;
  border-radius: 0 0 0 5px;
  color: #fff;
}
.benefit{
  background-color: hsl(179, 64%, 50%);
  grid-area: bf;
  padding: 30px;
  border-radius: 0 0 5px 0;
  color: #fff;
}

.orange {
  color: hsl(71, 73%, 54%);
}

button{
  background-color: hsl(71, 73%, 54%);
  border: none;
  display: inline-block;
  height:9vh;
  width: 100%;
  font-weight: bold;
  color: #fff;
  border-radius: 9px;
  margin: 10px auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0 10px 10px;
}

button:hover {
  cursor: pointer;
   background-color: hsla(71, 73%, 54%, 0.9);
}
.gray {
  color: rgba(0, 0, 0, .45);
}
.price-1 {
  font-size: 2rem;
  font-weight: 600;
}
.price-2 {
  color: hsla(44, 0%, 100%, 0.7);
  position: relative;
  bottom: 4px;
  left: 5px;
}

p,h2, h3 {
  padding: 5px;
}
h2{
  color: hsl(179, 62%, 43%);
}
ul li {
  list-style: none;
  opacity: 0.9;
}


@media screen and (max-width: 375px){
  .container {
    max-width: 80vw; 
    display: block;
  }
  
  button {
    height: 7vh;
  }
  p,h2, h3 {
  padding: 7px;
  }
  .price {
    border-radius: 0;
  }
  .benefit {
    border-radius: 0 0 5px 5px;
  }
}
